@use "../../themes/light/dx.generic.light.defaults.scss" as *;
@use "../../themes/light/variables.scss" as *;

.layout-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $content-background-color;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
